.elementor-9769 .elementor-element.elementor-element-635b93a > .elementor-container > .elementor-row{align-items:stretch;}.elementor-9769 .elementor-element.elementor-element-635b93a{padding:40px 0px 0px 0px;}.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu .elementor-item{font-weight:600;}.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--main .elementor-item:focus{color:#fff;}.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#1C7CC0;}.elementor-9769 .elementor-element.elementor-global-16303 .e--pointer-framed .elementor-item:before,
					.elementor-9769 .elementor-element.elementor-global-16303 .e--pointer-framed .elementor-item:after{border-color:#1C7CC0;}.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#FFFFFF;}.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
					.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after{background-color:#15A6DE;}.elementor-9769 .elementor-element.elementor-global-16303 .e--pointer-framed .elementor-item.elementor-item-active:before,
					.elementor-9769 .elementor-element.elementor-global-16303 .e--pointer-framed .elementor-item.elementor-item-active:after{border-color:#15A6DE;}.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--dropdown a:hover,
					.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--dropdown a.highlighted{background-color:#1C7CC0;}.elementor-9769 .elementor-element.elementor-global-16303 .elementor-nav-menu--dropdown a.elementor-item-active{background-color:#15A6DE;}.elementor-9769 .elementor-element.elementor-global-16303 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-9769 .elementor-element.elementor-element-3aff9a7b > .elementor-container > .elementor-row{align-items:stretch;}.elementor-9769 .elementor-element.elementor-element-3aff9a7b{margin-top:50px;margin-bottom:50px;}/* Start custom CSS for global, class: .elementor-global-16303 */.elementor-9769 .elementor-element.elementor-global-16303  {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 280px;
    margin: auto;
    
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-21c446ad */.elementor-9769 .elementor-element.elementor-element-21c446ad h1 {
    font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #222d39;
        line-height: 1.2;

}
.elementor-9769 .elementor-element.elementor-element-21c446ad h2 {
font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color: #677294;
    margin-top: 15px;

}
.elementor-9769 .elementor-element.elementor-element-21c446ad p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color: #677294;

}/* End custom CSS */