.elementor-9784 .elementor-element.elementor-element-418a0b0 > .elementor-container > .elementor-row{align-items:stretch;}.elementor-9784 .elementor-element.elementor-element-418a0b0{padding:40px 0px 0px 0px;}.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu .elementor-item{font-weight:600;}.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--main .elementor-item:focus{color:#fff;}.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#1C7CC0;}.elementor-9784 .elementor-element.elementor-global-16303 .e--pointer-framed .elementor-item:before,
					.elementor-9784 .elementor-element.elementor-global-16303 .e--pointer-framed .elementor-item:after{border-color:#1C7CC0;}.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#FFFFFF;}.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
					.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after{background-color:#15A6DE;}.elementor-9784 .elementor-element.elementor-global-16303 .e--pointer-framed .elementor-item.elementor-item-active:before,
					.elementor-9784 .elementor-element.elementor-global-16303 .e--pointer-framed .elementor-item.elementor-item-active:after{border-color:#15A6DE;}.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--dropdown a:hover,
					.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--dropdown a.highlighted{background-color:#1C7CC0;}.elementor-9784 .elementor-element.elementor-global-16303 .elementor-nav-menu--dropdown a.elementor-item-active{background-color:#15A6DE;}.elementor-9784 .elementor-element.elementor-global-16303 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-9784 .elementor-element.elementor-element-6ac84e6f{color:#677294;font-family:"Source Sans Pro", Sans-serif;font-size:18px;font-weight:500;line-height:30px;}/* Start custom CSS for global, class: .elementor-global-16303 */.elementor-9784 .elementor-element.elementor-global-16303  {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 280px;
    margin: auto;
    
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-6ac84e6f */.elementor-9784 .elementor-element.elementor-element-6ac84e6f h1 {
    font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #222d39;
        line-height: 1.2;

}
.elementor-9784 .elementor-element.elementor-element-6ac84e6f h2 {
font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color: #677294;
    margin-top: 15px;

}
.elementor-9784 .elementor-element.elementor-element-6ac84e6f p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color: #677294;

}/* End custom CSS */